In [2]:
import os
import pymysql
import sys
import pandas as pd
import numpy as np
import glob
import passw

In [32]:
REGION = 'us-east-2-c'
host  = passw.HOST
user = passw.USER
password = passw.PASS
db = "vincentlux"
charset = "utf8mb4"
csv_path = "/Volumes/Vincent/2018FALL/inls641/airline_delay/0117_1217_unzipped/*/*.csv"

In [59]:
def process_csv():
    '''
    to process 12 month files and return them as a single pandas df
    '''
    all_data = pd.DataFrame()
    first = True
    try:
        for file in glob.glob(csv_path):
            if first:
                df = pd.read_csv(file)
                df = df[df.columns.drop(list(df.filter(regex='Div')))]
                all_data = all_data.append(df, ignore_index=True)
                first = False
            else:
                df = pd.read_csv(file, header=None)
                df = df[df.columns.drop(list(df.filter(regex='Div')))]
                all_data = all_data.append(df, ignore_index=True)
                
        return all_data
    except Exception as e:
        print(e)

In [3]:
test = pd.read_csv("flight_2017.csv")

/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5,6,8,9,14,15,16,18,23,24,25,27,35,46,48,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<bound method Series.sum of 0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
5674602     True
5674603     True
5674604     True
5674605     True
5674606     True
5674607     True
5674608     True
5674609     True
5674610     True
5674611     True
5674612     True
5674613     True
5674614     True
5674615     True
5674616     True
5674617     True
5674618     True
5674619     True
5674620     True
5674621     True
5674622     True
5674623     True
5674624     True
5674625     True
5674626     True
5674627     True
5674628     True
5674629     True
5674630     True
5674631     True
Name: Year, Length: 5674632, dtype: bool>

In [8]:
test_sub = test.dropna(subset=['Year'])

In [ ]:
if __name__ == "__main__":
    # all_data = process_csv()
    # all_data.to_csv("flight_2017.csv", encoding="utf-8", index=False, header=True)

In [16]:
def get_sql_connection(host='',user='',password='',db='',charset=''):
    connection = pymysql.connect(host=host,
                             user=user,
                             password=password,
                             db=db,
                             charset=charset)
    return connection

In [17]:
def add_to_sql():
    connection = get_sql_connection(host, user, password, db, charset)
    cursor = connection.cursor()
    sql = ""
    n = cursor.execute(sql)
    result = cursor.fetchall()