# Preprocessing
1. Convert downloaded 12 monthly-datasets to a single .csv
2. upload to local db
3. migrate to aws rds
```
$ mysql -h endpoint.end.with.rds.amazonaws.com -u masteraccount -p  aws_db_name < local_sql_file.sql
```

In [34]:
import os
import pymysql
import sys
import pandas as pd
import numpy as np
import glob
import passw

In [21]:
def process_csv():
    '''
    to process 12 month files and return them as a single pandas df
    and save to local
    '''
    all_data = pd.DataFrame()
    first = True
    try:
        for file in glob.glob(csv_path):
            if first:
                df = pd.read_csv(file)
                df = df[df.columns.drop(list(df.filter(regex='Div')))]
                all_data = all_data.append(df, ignore_index=True)
                first = False
            else:
                df = pd.read_csv(file)
                df = df[df.columns.drop(list(df.filter(regex='Div')))]
                all_data = pd.concat([all_data, df], ignore_index=True)
            print(file + " finished...")
        print("all finished, start saving to local...")
        all_data.to_csv("flight_2017.csv", encoding="utf-8", index=False, header=True)
        print("saving to local finished.")
    except Exception as e:
        print(e)
        
    return all_data

In [25]:
if __name__ == "__main__":
    all_data = process_csv()

In [26]:
all_data.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime
0,2017,1,1,17,2,2017-01-17,AA,19805,AA,N583AA,...,1773.0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,1,1,18,3,2017-01-18,AA,19805,AA,N544AA,...,1773.0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1,1,19,4,2017-01-19,AA,19805,AA,N553AA,...,1773.0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,1,1,20,5,2017-01-20,AA,19805,AA,N191AA,...,1773.0,8,33.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,2017,1,1,21,6,2017-01-21,AA,19805,AA,N170AA,...,1773.0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Extra code for python sql connection

In [ ]:
# REGION = 'us-east-2-c'
# host  = passw.HOST
# user = passw.USER
# password = passw.PASS
# db = "vincentlux"
# charset = "utf8mb4"
# csv_path = "/Volumes/Vincent/2018FALL/inls641/airline_delay/0117_1217_unzipped/*/*.csv"
# def get_sql_connection(host='',user='',password='',db='',charset=''):
#     connection = pymysql.connect(host=host,
#                              user=user,
#                              password=password,
#                              db=db,
#                              charset=charset)
#     return connection

# def add_to_sql():
#     connection = get_sql_connection(host, user, password, db, charset)
#     cursor = connection.cursor()
#     sql = ""
#     n = cursor.execute(sql)
#     result = cursor.fetchall()